@model App
@{
    ViewData["Title"] = "Enter Movie";
}

<style>
    /*styling to align all the entries*/
    .form-group {
        text-align: left; 
        margin-left: auto; 
        margin-right: auto;
        max-width: 400px; 
    }
</style>

<div class="text-center">
    <h1 class="display-4">Movie Entry</h1>
    <br /><br />
    <form method="post" class="form-group"> <!--form that will get the info for each record in the database-->
        <input type="hidden" asp-for="MovieId"/>

        <label asp-for="CategoryId">Select a category:</label>
        <select asp-for="CategoryId">
            <option value="">-</option>
            @foreach (Categories c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.Category</option>
            }
        </select>
        <br /><br />
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" />
        <br /><br />
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" />
        <br /><br />
        <label asp-for="Director">Director:</label>
        <input asp-for="Director" />
        <br /><br />
        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
        <br /><br />
        <label asp-for="Edited">Edited?</label>
        <select asp-for="Edited">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        <br /><br />
        <label asp-for="LentTo">Lent To:</label>
        <input asp-for="LentTo" />
        <br /><br />
        <label asp-for="CopiedToPlex">Copied to Plex?</label>
        <select asp-for="CopiedToPlex">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <br /><br />
        <label asp-for="Notes">Notes:</label>
        <input asp-for="Notes" maxlength="25" />
        <br /><br />

        <button type="submit">Submit Movie</button>

        <div asp-validation-summary="All"></div>
    </form>
</div>